<header>
    <div class="container-fluid">
        <div class="content flex-lc pr">
            <div class="contract sm pr">
                <input type="text" value="Contract $PRAP" id="valcopy" size="12">
                <button type="button" class="btn-copy" onclick="copycaddress('valcopy')"></button>
            </div>
            <a href="" class="logo"><img src="./assets/img/logo.png" alt=""></a>
            <a href="" title="" class="btn-buy">buy $PRAP</a>
        </div>
    </div>
</header>
<main>
    <div class="container-fluid">
        <div class="intro text-center">
            <div class="header" data-aos="fade-up">
                <p>Introducing Philosoraptor Coin:</p>
                <h1>Where Memes and Crypto Collide in a Hilariously Epic Fusion!</h1>
            </div>
            <div class="box-video" data-aos="fade-in" data-aos-delay="400">
                <iframe src="https://www.youtube.com/embed/fDqdYLnXHTo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="text">
                <p data-aos="fade-up">Are you tired of boring, serious crypto projects? Looking for a wild ride that combines the wisdom of ancient memes with the excitement of the crypto world? Well, look no further because Philosoraptor Coin is here to blow your mind!</p>
                <p data-aos="fade-up">With Philosoraptor Coin, we're taking memes to a whole new level, infusing them with the power of blockchain and unleashing a tidal wave of laughter and financial speculation!</p>
            </div>
        </div>
        <div class="contract lg pr" data-aos="fade-up">
            <input type="text" value="Contract $PRAP" id="contract-id" size="12">
            <button type="button" class="btn-copy" onclick="copycaddress('contract-id')"></button>
        </div>
        <div class="note text-center" data-aos="fade-up">Zero Tax On Buying and Selling</div>
        <div class="flex-center" data-aos="fade-up">
            <a href="" title="" class="btn-buy ml-0">buy $PRAP</a>
        </div>
    </div>
</main>
<footer>
    <div class="text text-center">
        Philosoraptor is a dinosaur meme coin designed purely for entertainment purposes and lacks any practical applications. It does not have a dedicated team or roadmap for development.
    </div>
    <div class="social flex-center">
        <a href="" title="telegram" class="telegram">telegram</a>
        <a href="" title="twitter" class="twitter">twitter</a>
        <a href="" title="youtube" class="youtube">Youtube</a>
    </div>
</footer>