body{
  background: #28422D url("#{$img-path}/bg-home.png") no-repeat 50% 0/cover;
  font-family: 'Reem Kufi', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}
@mixin txt-1{font-size: 18px; line-height: 24px; color: #fff; font-weight: 700;}
@mixin hover{filter: saturate(1.9); -webkit-filter: saturate(1.9);}
a{transition: .25s;}
a:hover{text-decoration: none;}

//header

header{
  width: 100%; padding: 42px 0 52px;
  .content{min-height: 187px;}
  .logo{
    width: 187px; display: block;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.25);
    position: absolute; left: 0; right: 0; margin: 0 auto;
  }
}
.contract{
  height: 58px;
  padding: 0 21px;
  border: 1px solid #F3FFAA;
  background: rgba(0, 0, 0, 0.30);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  color: #fff;
  &.sm{
    width: 382px;
    @media (max-width: 1440px) {
      width: 340px;
    }
  }
  &.lg{width: 100%; max-width: 470px; margin: 0 auto;}
  input{
    width: 100%;
    height: 100%;
    padding-right: 20px;
    background: none;
    border: none;
    font-size: 20px;
    color: #fff;
    &:focus{outline: none; border: none;}
  }
  .btn-copy{
    width: 19px; height: 23px;
    padding: 0;
    background: url("#{$img-path}/copy.png") no-repeat 0 0/contain;
    position: absolute; right: 16px; top: 16px;
  }
}
.intro{
  max-width: 788px; margin: 0 auto;
  color: #fff;
  .text{
    margin-bottom: 42px;
    p{margin-bottom: 32px;}
  }
  h1{
    margin: 5px 0 30px;
    font-size: 38px;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.45);
    font-weight: normal;
    line-height: 1.5;
  }
  p{
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.45);
    font-size: 20px;
  }
}
.box-video{
  width: 100%; height: 446px; margin: 0 auto 30px;
  background: #000;
  box-shadow: 6px 6px 9px 0px rgba(0, 0, 0, 0.45);
  iframe{width: 100%; height: 100%;}
}
.note{
  margin: 20px 0 32px;
  color: #F3FFAA;
  font-size: 20px;
  line-height: 30px;
}
.btn-buy{
  padding: 10px 20px;
  border-radius: 9px;
  margin-left: auto;
  border: 1px solid #F3FFAA;
  background: #0E5E1D;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #F3FFAA;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  &:hover{color: #d8e974;}
}

footer{
  padding: 48px 0;
  margin-top: 76px;
  background: rgba(0, 0, 0, 0.20);
  border-top: 1px solid rgba(243, 255, 170, 0.50);
  .text{
    max-width: 1040px;
    margin: 0 auto 32px;
    font-size: 20px;
    color: #BFFBBF;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.45);
  }
  .social{
    justify-content: center;
    a{display: block; margin: 0 27.5px; width: 25px; height: 20px; font-size: 0;}
    .telegram{background: url("#{$img-path}/telegram.svg") no-repeat 0 0/contain;}
    .twitter{background: url("#{$img-path}/twitter.svg") no-repeat 0 0/contain;}
    .youtube{width: 30px; background: url("#{$img-path}/youtube.svg") no-repeat 0 0/contain;}
  }
}


@media (min-width: 1600px) {
  .container-fluid{padding: 0 160px;}
}

@media (max-width: 1024px) {
  header{
    .content{min-height: 145px;}
    .logo{width: 145px; left: 10%;}
  }
  .contract{
    &.sm{width: 280px;}
  }
}
@media (max-width: 768px) {
  header{
    .logo{left: 15%;}
  }
}
@media (max-width: 640px) {
  header{
    padding-bottom: 20px;
    .logo{top: -15px; left: 0;}
    .btn-buy,.contract{margin: 0 auto 20px;}
    .contract{
      margin-top: 160px;
      &.sm{width: 100%; max-width: 470px;}
    }
    .content{flex-direction: column;}
  }
  .btn-buy{font-size: 20px;}
  .contract{
    height: 52px; padding: 0 16px;
    .btn-copy{top: 13px;}
  }
  .intro{
    h1{font-size: 30px;}
    p{font-size: 18px;}
  }
  .box-video{height: 52vw;}
  footer{
    padding: 30px 15px 45px;
    .text{font-size: 18px;}
  }
}



//uikit
.pr{position: relative;}
button{
  border: none; cursor: pointer;
  &:focus{outline: none;}
}